<div id="initial-data" data-initial-data="<%= {
    favorites: @favorites,
    comment: @comment.as_json(include: :things) }.to_json %>"></div>
<div id="react-container"></div>
<%= javascript_pack_tag 'comments/show' %>
