<div id="initial-data" data-initial-data="<%= {
    subreddit: @subreddit,
}.to_json %>"></div>
<div id="react-container"></div>
<script src="https://www.gstatic.com/charts/loader.js"></script>
<%= javascript_pack_tag 'things/trends' %>
