body {
    font-family: 'Lato', sans-serif;
    background-color: $li-blue;
}

nav {
    background-color: white;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
}

.light {
    font-weight: 300
}

.content {
    margin-top: 30px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
    background-color: white;
}
