// Place all the styles related to the Things controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-body {
    padding-top: 60px;
    padding-bottom: 60px;
}

.thing-img, .thing-img-thumb {
    min-width: 100px;
    min-height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 10px;
}

.thing-img-thumb {
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.thing-filters {
    background-color: white;
    padding: 0.5rem 1rem;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
}

.favorites {
    .favorite-links {
        overflow-x: hidden;
    }
    a {
        color: $orange;
        padding: 0 12px;
    }
    .favorite-label {
        font-weight: bold;
        padding: 0 12px;
    }
    height: 40px;
    line-height: 38px;
    border-top: $orange 1px solid;
    border-bottom: $orange 1px solid;
    background-color: white;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
}

@media (min-width: 768px) {
    .thing-img, .thing-img-thumb {
        max-width: 100px;
        max-height: 100px;
    }
}
